---
host1.example.com:
  openstack-nova-consoleauth.service: 'active (running)'
  openstack-nova-api.service: 'active (running)'
  openstack-nova-conductor.service: 'active (running)'
  openstack-nova-scheduler.service: 'active (running)'
  openstack-nova-compute.service: 'active (running)'
  openstack-nova-novncproxy.service: 'active (running)'
  openstack-cinder-api.service: 'active (running)'
  openstack-cinder-volume.service: 'active (running)'
  openstack-cinder-backup.service: 'active (running)'
  openstack-cinder-scheduler.service: 'active (running)'
  neutron-dhcp-agent.service: 'active (running)'
  neutron-metadata-agent.service: 'active (running)'
  neutron-openvswitch-agent.service: 'active (running)'
  neutron-metering-agent.service: 'active (running)'
  neutron-ovs-cleanup.service: 'active (exited)'
  neutron-destroy-patch-ports.service: 'active (exited)'
  neutron-l3-agent.service: 'active (running)'
  neutron-server.service: 'active (running)'
host2.example.com:
  openstack-nova-conductor.service: 'active (running)'
  openstack-nova-scheduler.service: 'active (running)'
  openstack-nova-compute.service: 'active (running)'
  openstack-nova-novncproxy.service: 'active (running)'
